/* Success/error message boxes */
.box {
	border: 1px dotted silver;
	border-radius: 5px;
	padding: 4px;
}
.error {
	background-color: #ff6666;
}
.success {
	background-color: #88ff88;
}
.box ul {
	margin: 4px;
	padding-left: 14px;
}

.box ul li {
	margin-bottom: 2px;
}

.install-password {
	font-size: 1.2em;
}

.top-menu {
	border: 1px dotted silver;
	min-height: 18px;
	padding: 4px;
	margin-bottom: 4px;
}

.menu-options {
	float: right;
}

h1, h2, h3 {
	margin-top: 0;
	margin-bottom: 8px;
}

body {
	font-family: sans-serif;
}

.post-synopsis {
	padding-bottom: 8px;
	border-bottom: 1px dotted silver;
	margin-bottom: 20px;
}

.post-synopsis h2, .post h2 {
	color: darkblue;
}

.post .date, .post-synopsis .meta {
	color: white;
	background-color: grey;
	border-radius: 7px;
	padding: 2px;
	display: inline;
	font-size: 0.95em;
}

.comment .comment-meta {
	font-size: 0.85em;
	color: grey;
	border-top: 1px dotted silver;
	padding-top: 8px;
}

.comment .comment-meta input {
	float: right;
}

.comment-body p {
	margin: 8px 4px;
}

.comment-list {
	border-bottom: 1px dotted silver;
	margin-bottom: 12px;
	max-width: 900px;
}

.comment-margin {
	margin-bottom: 8px;
}

.user-form input,
.user-form textarea {
	margin: 4px;
}

.user-form label {
	font-size: 0.95em;
	margin: 7px;
	width: 100px;
	width: 7em;
	color: grey;
	float: left;
	text-align: right;
}

#post-list {
	border-collapse: collapse;
	border: 1px solid silver;
}

#post-list td, #post-list th {
	padding: 8px;
	text-align: left;
}

#post-list tbody tr:nth-child(odd) {
	background-color: #f4f4f4;
}
